*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.container{
    width: 100%;
    height: 100vh;
    background: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player{
    width: 400px;
    padding: 40px 35px;
    background: #f9f9f9;
    text-align: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 0 5px rgba(26, 26, 255, 0.5);
    margin-bottom: 40px;
}
.circle i{
    color: #6660ff;
}
.feature-image{
    width: 220px;
    border: 8px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px #6660ff;
}

.rotate{
    animation: rotate 10s linear infinite;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
.title{
    margin: 30px auto;
}
.title h1{
    font-size: 20px;
    font-weight: 600;
    font-family: serif;
}
.title p{
    font-size: 15px;
    font-family: serif;
}
#slide{
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    margin: 40px 0;
    background: #6660ff;
    cursor: pointer;
}
#slide::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 8px solid #fff;
}
.controls{
    display: flex;
    justify-content: space-evenly;
}
.controls div{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background: #fff;
    color: #6660ff;
    line-height: 45px;
    box-shadow: 0 0 5px #6660ff;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background: #6660ff;
    color: #fff;
}